 <div class="estimator">
    <h1> Hello Estimator </h1>
    <section>
    <div>
        $<%= @tickets %>
    </div>
    *
    <div>
        <%= @price %>
    </div>
    =
    $ <%= @tickets * @price %>
    </section>
</div>